<h1>Bem vindo ao Romin Blog!</h1>

<ul>
    <% @articles.each do |article| %>
      <li>     
          <%= link_to article.title, article %>
          -
          <%= link_to "Editar", edit_article_path(article) %>
      </li>
    <% end %>

</ul>

<h2>Criar novo Artigo</h2>    
<%= link_to "New Article", new_article_path %>
