<header class="bg-red-500 min-h-[10vh] grid text-white">
  <div class="navbar">
    <div class="flex-1">
      <%= link_to "Phrases ðŸ’¡ðŸ“", "/", class:"link text-xl link-hover" %>
    </div>
    <div class="flex-none items-center">
      <ul class="menu menu-horizontal px-1">
        <li>
          <%= link_to "Home", "/", class:"link text-xl link-hover" %>
        </li>
        <li><%= link_to "Phrases", phrases_path, class:"link text-xl link-hover" %></li>
      </ul>
    </div>
  </div>
</header>
