
<section class="min-h-[80vh] flex flex-col gap-3 py-3">
    <h1 class="text-3xl font-bold">Bem vindo ao Romin Blog!</h1>
    <h2 class="text-xl font-semibold">
  Nosso blog tem <%= Article.public_count %> artigos e contando!
    </h2>

</section>


